@model  SearchCriteria
@inject SearchCriteriaInject CriteriaService

@{ 
    //Must be loaded up here or else variable doesn't scope properly
    //Get list of countries to ship to and ship from, saves alot of space in the View
    var countries = CriteriaService.GetShipFromCountries();
    var countriesShipTo = CriteriaService.GetShipToCountries();

    var selected = "Any";
    var selectedShipTo = "United States";
}

<div class="visible-md visible-lg">
    <form id="searchForm" asp-controller="Search" asp-action="Search" method="get">
        <div class="row">
            <div class="searchbar center">
                <div class="input-group">
                    <input id="search-text" name="SearchText" value="@Model.SearchText" type="text" class="form-control" placeholder="What are you looking for today?" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" value="Search">
                            <span class="fa fa-search"></span>
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="filter-bar" class="row" style="display:none;">
            <div class="advanced-tools-bar-wrapper">
                <div class="advanced-tools-bar">
                    <div class="input-price-control-bar">
                        <label>Price: </label>
                        <input value="@Model.PriceFrom" name="PriceFrom" type="text" />
                        <input value="@Model.PriceTo" name="PriceTo" type="text" />
                    </div>
                    <div class="input-ship-control-bar">
                        <label>Ship From:</label>
                        <select name="ShipFrom" class="form-control">
                            @{
                                foreach (var key in countries.Keys)
                                {
                                    if (key == selected)
                                    {
                                        <option selected="selected" value="@countries[key]">@key</option>
                                    }
                                    else
                                    {
                                        <option value="@countries[key]">@key</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="input-ship-control-bar">
                        <label>Ship To:</label>
                        <select name="ShipTo" class="form-control">
                            @{
                                foreach (var key in countriesShipTo.Keys)
                                {
                                    if (key == selectedShipTo)
                                    {
                                        <option selected="selected" value="@countriesShipTo[key]">@key</option>
                                    }
                                    else
                                    {
                                        <option value="@countriesShipTo[key]">@key</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="dropdown-container">
                        <span class="dropdown-btn">More Options</span>
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                            </div>
                            <p class="dropdown-item">@Html.CheckBoxFor(x => x.FreeShipping)<span>Free Shipping</span></p>
                            <p class="dropdown-item">@Html.CheckBoxFor(x => x.SaleItems)<span>Sale Items</span></p>
                            <p class="dropdown-item">@Html.CheckBoxFor(x => x.PieceOnly)<span>One Piece Only</span></p>
                            <p class="dropdown-item">@Html.CheckBoxFor(x => x.AppOnly)<span>Mobile Deals Only</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="filter-bar-toggle" class="advanced-link center">
                <a>Advanced  <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
        </div>

    </form>
</div>

<div class="visible-xs visible-sm">
    <form id="searchForm" asp-controller="Search" asp-action="Search" method="get">
        <div class="row">
            <div class="searchbar center">
                <div class="input-group">
                    <input id="search-text" name="SearchText" value="@Model.SearchText" type="text" class="form-control" placeholder="What are you looking for today?" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" value="Search">
                            <span class="fa fa-search"></span>
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="advanced-tools-mobile-toggle" class="advanced-link center">
                <a>Advanced  <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="advanced-tools center" id="advanced-tools-mobile">
                <div class="advanced-tools-wrapper">
                    <div class="input-price-control">
                        <span class="input-price-addon">Price ($):</span>
                        <input value="@Model.PriceFrom" name="PriceFrom" type="text" class="form-control" />
                        <span class="input-price-addon">-</span>
                        <input value="@Model.PriceTo" name="PriceTo" type="text" class="form-control" />
                    </div>
                    <div class="form-group input-ship-control">
                        <label class="col-sm-2 col-md-4 input-control-label left">Ship From:</label>
                        <div class="col-sm-6">
                            <select name="ShipFrom" class="form-control">
                                @{
                                foreach (var key in countries.Keys)
                                {
                                    if (key == selected)
                                    {
                                            <option selected="selected" value="@countries[key]">@key</option>
                                    }
                                    else
                                    {
                                            <option value="@countries[key]">@key</option>
                                    }
                                }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group input-ship-control">
                        <label class="col-sm-2 col-md-4 input-control-label left">Ship To:</label>
                        <div class="col-sm-6">
                            <select name="ShipTo" class="form-control">
                                @{
                                foreach (var key in countriesShipTo.Keys)
                                {
                                    if (key == selectedShipTo)
                                    {
                                            <option selected="selected" value="@countriesShipTo[key]">@key</option>
                                    }
                                    else
                                    {
                                            <option value="@countriesShipTo[key]">@key</option>
                                    }
                                }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="ascheckbox-inline-flex">
                        <div class="ascheckbox">@Html.CheckBoxFor(x => x.FreeShipping)<span>Free Shipping</span>
                        </div>
                        <div class="ascheckbox">@Html.CheckBoxFor(x => x.SaleItems)<span>Sale Items</span>
                        </div>
                        <div class="ascheckbox">@Html.CheckBoxFor(x => x.PieceOnly)<span>One Piece Only</span>
                        </div>
                        <div class="ascheckbox">@Html.CheckBoxFor(x => x.AppOnly)<span>Mobile Deals Only</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>