
@model DropshipItem[]
@inject PaginationInject pagination
@inject DropshipRuleInject rules

@{
    var page = ViewBag.Page;
    var maxCount = ViewBag.MaxCount;
    var itemsPerPage = ViewBag.ItemsPerPage;
    Layout = "_DropshippingLayout";
}

<div class="row">
    <div class="col-md-12 col-center">
        <div class="pull-right">
            <a asp-controller="Dropship" asp-action="AddProduct" class="btn btn-success">+ Add Product</a>
        </div>
    </div>
</div>
<hr/>
<div class="col-md-12 col-center">
    @if (Model == null || Model.Length == 0)
    {
        <div class="alert alert-info text-center">
            <p>No items listed yet! You can add dropshipping items through Aliseeks <a asp-controller="Home" asp-action="Index">Search</a>.</p>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="row row-centered" style="margin-bottom:10px;">
                <div class="product">
                    <div class="col-xs-11">
                        <img class="dropship-image" src="@item.Dropshipping.Image" alt="@item.Dropshipping.Source.Title" />
                        <div class="col-md-6">
                            <a href="@item.Dropshipping.Source.Link" class="dropship-title">@item.Dropshipping.Source.Title</a>
                            <br />
                            <br />
                            <p>
                                Pricing:
                                <strong>
                                    @switch (item.Dropshipping.Rules.PriceRule)
                                    {
                                        case PriceRule.PriceAdjustment:
                                            if (item.Dropshipping.Rules.Price > 0)
                                            {
                                                <span style="color:green;"><i class="fa fa-angle-up" aria-hidden="true"></i> $ @item.Dropshipping.Rules.Price</span>
                                            }
                                            else
                                            {
                                                <span style="color:red;"><i class="fa fa-angle-down" aria-hidden="true"></i> $ @item.Dropshipping.Rules.Price</span>
                                            }
                                            break;

                                        case PriceRule.PricePercentage:
                                            if (item.Dropshipping.Rules.Price > 0)
                                            {
                                                <span style="color:green;"><i class="fa fa-angle-up" aria-hidden="true"></i> @item.Dropshipping.Rules.Price %</span>
                                            }
                                            else
                                            {
                                                <span style="color:red;"><i class="fa fa-angle-down" aria-hidden="true"></i> @item.Dropshipping.Rules.Price %</span>
                                            }
                                            break;

                                        case PriceRule.FixedPrice:
                                            <span>$ @item.Dropshipping.Rules.Price</span>
                                            break;

                                        case PriceRule.None:
                                            <span>None</span>
                                            break;
                                    }
                                </strong>
                            </p>
                            <p>
                                    Stock:
                                <strong>
                                    @switch (item.Dropshipping.Rules.StockRule)
                                    {
                                        case StockRule.StockAdjustment:
                                            if (item.Dropshipping.Rules.Stock > 0)
                                            {
                                                <span style="color:red;"><i class="fa fa-angle-down" aria-hidden="true"></i> @item.Dropshipping.Rules.Stock</span>
                                            }
                                            else
                                            {
                                                <span style="color:green;"><i class="fa fa-angle-up" aria-hidden="true"></i> @item.Dropshipping.Rules.Stock</span>
                                            }
                                            break;

                                        case StockRule.FixedStock:
                                            <span> @item.Dropshipping.Rules.Stock</span>
                                            break;

                                        case StockRule.None:
                                            <span>None</span>
                                            break;

                                    }
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-3">
                            @if (item.Product != null)
                            {
                                @foreach (var variant in item.Product.Variants)
                                {
                                    <p class="dropship-price">$@variant.Price</p>
                                    <a class="btn-default" href="@item.Product.Link"><i class="fa fa-external-link" aria-hidden="true"></i> View</a>
                                }
                            }
                            else
                            {
                                <a asp-controller="dropship" asp-action="ProductAddToIntegration" asp-route-itemid="@item.Dropshipping.ID" class="btn btn-primary">Add!</a>
                            }
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <a asp-controller="Dropship" asp-action="Product" asp-route-itemid="@item.Dropshipping.ID" class="btn btn-default"  data-toggle="tooltip" data-placement="bottom" title="Manage Rules"><i class="fa fa-gear"></i></a>
                        <br />
                        <br />
                        <a asp-controller="Dropship" asp-action="ProductDelete" asp-route-itemid="@item.Dropshipping.ID" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row row-centered">
    <div class="col-xs-12 text-center">
        <div class="btn-group">
            <ul class="pagination">
                @{
                    foreach (int pageNum in pagination.GetPages(page, maxCount, itemsPerPage))
                    {
                        if (pageNum == page)
                        {

                            <li class="active">
                                <a asp-controller="Dropship" asp-action="Products" asp-route-page="@pageNum">@pageNum</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Dropship" asp-action="Products" asp-route-page="@pageNum">@pageNum</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>