@{
    Layout = "_Layout";
    var path = Context.Request.Path.ToString().ToLower();
    var routeData = ViewContext.RouteData.Values;
}

<div class="row profile">
    <div class="col-md-3">
        <div class="well profile-nav">
            <h4>@Context.User.Identity.Name</h4>
            <p class="text-muted">Dropshipping</p>
            <hr />
            <div class="list-group">
                <a href="/dropship" class="list-group-item @(routeData["Action"].ToString() == "Index" ? "active" : "")">Overview</a>
                <a href="/dropship/integrations" class="list-group-item @(path.Contains("integrations") ? "active" : "")">Integrations</a>
                <a href="/dropship/orders" class="list-group-item @(path.Contains("orders") ? "active" : "")">Orders</a>
                <a href="/dropship/products" class="list-group-item @(path.Contains("products") ? "active" : "")">Products</a>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="well profile-info">
            @RenderBody()
        </div>
    </div>
</div>

<script>

</script>