<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="title" content="Aliseeks" />
    <meta name="author" content="Alex Bello" />
    <meta name="copyright" content="Alex Bello" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="aliexpress,dropshipping,search" />
    <meta name="description" content="Aliexpress Search and Dropshipping Engine" />
    <meta name="robots" content="index,follow" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="image-brand" src="~/images/brand.png" /></a>
                    <ul class="nav navbar-nav navbar-right visible-xs">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a><strong>@User.FindFirst(ClaimTypes.Name).Value</strong></a></li>
                        }
                    </ul>
                </div>
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a asp-controller="Dropship" asp-action="Index">Dropship</a></li>
                        <li><a href="/feedback" data-toggle="tooltip" data-placement="bottom" title="Give us some feedback!">Feedback</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a href="login">Login</a></li>
                        }
                        else
                        {
                            <li class="dropdown hidden-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <strong>@User.FindFirst(ClaimTypes.Name).Value</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Account" asp-action="Index">Profile</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            <li class="visible-xs"><a href="/logout">Logout</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid body-content">
        @{
            if (Context.Session != null && Context.Session.Keys.Contains("application-message"))
            {
                byte[] bytes;
                Context.Session.TryGetValue("application-message", out bytes);
                var message = JsonConvert.DeserializeObject<ApplicationMessageFeature>(Encoding.UTF8.GetString(bytes));
                <div class="alert alert-@message.Level.ToString().ToLower()">@message.Message</div>
            }

        }
        @RenderBody()
    </div>

    <footer>
        <div class="footer-right pull-right">
            <img class="footer-right-image" src="~/images/dotnetcore.png" />
        </div>
    </footer>

    <noscript id="deferred-styles">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-select/css/bootstrap-select.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/google/google-analytics.js" asp-append-version="true"></script>
    </environment>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
