@model SearchModel
@inject PaginationInject pagination

@{
    ViewBag.Title = $"{Model.Criteria.SearchText} - Aliseeks";
    var savePath = "search/save" + Context.Request.QueryString.Value;
}

@Html.Partial("Partials/SearchBar", Model.Criteria)
<br />

<div class="col-md-12 col-lg-8 col-center">
    <div class="row">
        <p class="pull-right text-muted">Total Results: <strong>@Model.Results.SearchCount</strong> | <span id="saveSearchSpan"><a href="@savePath" data-ajax="true" data-ajax-method="GET" data-ajax-success="saveSearchSuccess">Save this search?</a></span></p>
    </div>

    @if (Model.Results.Items.Length == 0)
    {
        <div class="row">
            <div class="col-xs-12 col-center" style="text-align:center;">
                <h4>There doesn't seem to be anything here <i class="fa fa-fire" aria-hidden="true"></i></h4><br />
                <img class="search-no-results-img" src="~/images/noresults.png" alt="No results" />
            </div>
        </div>
    }

    @foreach (Item item in Model.Results.Items)
    {
        <div class="row row-centered">
            <div class="item">
                <img class="item-image" src="@item.ImageURL" alt="@item.Name" />
                <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 item-info">
                    <h4 class="item-link">
                        <a class="item-link" rel="nofollow" href="@item.Link">
                            @item.Name
                        </a>
                    </h4>
                    <span class="mobile-gone standard-text hidden-xs">
                        @switch (item.Source)
                        {
                            case "Aliexpress":
                                <img class="item-logo" src="~/images/logos/ae.png" alt="Aliexpress" />
                                break;

                            case "DHGate":
                                <span>DHGate!</span>
                                break;
                        }
                        <strong>&nbsp;@item.StoreName</strong>
                    </span>
                    <p class="mobile-gone hidden-xs">
                        <span class="small-text">Feedback(@item.Feedback)</span> |
                        <span class="small-text">Orders(@item.Orders)</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 item-info-more">
                    <p>
                        <span class="item-price">@item.Currency @String.Join("-", item.Price)</span>
                        <span class="item-unit"> / @item.Unit</span><br />
                        @if (!item.FreeShipping)
                        {
                            <span class="text-muted">@item.Currency @item.ShippingPrice <span class="text-muted small">@item.ShippingType</span> <span class="small">per unit</span></span><br />
                        }
                        <span class="text-muted">Lot Price: @item.Currency @item.LotPrice <span class="small">(@item.Quantity)</span></span><br />
                    </p>
                    @if (@item.FreeShipping)
                {
                        <p class="label label-success">Free Shipping!</p>
                    }
                    @if (@item.MobileOnly != "")
                {
                        <p class="label label-danger">@item.MobileOnly</p>
                    }
                    @if (@item.Source == "Aliexpress")
                {
                        <img class="visible-xs item-logo-xs" src="~/images/logos/ae.png" alt="Aliexpress" />
                    }
                    <form class="form-inline" post" asp-controller="dropship" asp-action="add">
                        <input class="hidden" name="Title" value="@item.Name" />
                        <input class="hidden" name="ID" value="@item.ItemID" />
                        <input class="hidden" name="Source" value="@item.Source" />
                        <button class="btn-link" data-toggle="tooltip" data-placement="bottom" title="Dropship this!"><i class="fa fa-ship" aria-hidden="true"></i></button>
                    </form>
                </div>
                <span class="hidden" data-id="itemid" data-val="@item.ItemID"></span>
                <span class="hidden" data-id="source" data-val="@item.Source"></span>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="btn-group">
            <ul class="pagination">
                @{
                    var dictionaryQs = new Dictionary<string, string>();
                    foreach (string key in Context.Request.Query.Keys)
                    {
                        dictionaryQs.Add(key, Context.Request.Query[key]);
                    }

                    foreach (int pageNum in pagination.GetPages(Model))
                    {
                        dictionaryQs["page"] = pageNum.ToString();
                        if (pageNum == Model.Criteria.Page)
                        {

                            <li class="active">
                                <a asp-controller="Search" asp-action="Search" asp-all-route-data="@dictionaryQs">@pageNum</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Search" asp-action="Search" asp-all-route-data="@dictionaryQs">@pageNum</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="quick-scroll hidden-xs">
    <div class="fa fa-chevron-down btn-back-to-top-arrow"></div>
</div>

<div class="quick-scroll-mobile visible-xs">
    <div class="fa fa-chevron-down btn-back-to-top-arrow"></div>
</div>

<script>
    //Get Price Histories
    //DISABLED
/*    $(function () {
        return;

        var items = $(".item");
        var ids = [];

        if (items.length == 0)
            return;

        for (var i = 0; i != items.length; i++) {
            var id = $('[data-id="itemid"]', items[i]).attr('data-val');
            var source = $('[data-id="source"]', items[i]).attr('data-val');

            ids.push({
                "ItemID": id,
                "Source": source
            });
        }

        $.ajax({
            type: "POST",
            url: "/search/pricehistory",
            data: JSON.stringify(ids),
            contentType: "application/json;",
            dataType: "json"
        });
    }); */

    function saveSearchSuccess()
    {
        var el = $('#saveSearchSpan');
        $(el).empty();
        $(el).text('Saved!');
    }
</script>