@model SearchModel
@inject SearchPaginationInject pagination

@{
    ViewBag.Title = "Search Results";
}

@Html.Partial("Partials/SearchBar", Model.Criteria)
<br />

<div class="col-md-12 col-lg-8 col-center">
    <div class="row">
        <p class="pull-right text-muted">Total Results: <strong>@Model.Results.SearchCount</strong></p>
    </div>

    @if(Model.Results.Items.Count() == 0)
    {
        <div class="row">
            <div class="col-xs-12 col-center" style="text-align:center;">
                <h4>There doesn't seem to be anything here <i class="fa fa-fire" aria-hidden="true"></i></h4><br/>
                <img class="search-no-results-img" src="~/images/noresults.png" alt="No results" />
            </div>
        </div>
    }

    @foreach (Item item in Model.Results.Items)
    {
        <div class="row row-centered">
            <div class="item">
                <img class="item-image" src="@item.ImageURL" alt="@item.Name" />
                <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 item-info">
                    <h4 class="item-link">
                        <a class="item-link" rel="nofollow" href="@item.Link">
                            @item.Name
                        </a>
                    </h4>
                    <span class="mobile-gone standard-text hidden-xs">
                        @if (@item.Source == "Aliexpress")
                        {
                            <img class="item-logo" src="~/images/logos/ae.png" alt="Aliexpress" />
                        }
                        <strong>&nbsp;@item.StoreName</strong>
                    </span>
                    <p class="mobile-gone hidden-xs">
                        <span class="small-text">Feedback(@item.Feedback)</span> |
                        <span class="small-text">Orders(@item.Orders)</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 item-info-more">
                    <p>
                        <span class="item-price">@item.Currency @String.Join("-", item.Price)</span>
                        <span class="item-unit"> / @item.Unit</span><br/>
                        @if (!item.FreeShipping)
                        {
                            <span class="text-muted">@item.Currency @item.ShippingPrice <span class="small">per unit</span></span><br/>
                        }
                        <span class="text-muted">Lot Price: @item.Currency @item.LotPrice <span class="small">(@item.Quantity)</span></span><br/>
                    </p>
                @if (@item.FreeShipping)
                {
                    <p class="label label-success">Free Shipping!</p>
                }
                @if (@item.MobileOnly != "")
                {
                    <p class="label label-danger">@item.MobileOnly</p>
                }
                @if (@item.Source == "Aliexpress")
                {
                        <img class="visible-xs item-logo-xs" src="~/images/logos/ae.png" alt="Aliexpress" />
                }
                </div>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="btn-group">
            <ul class="pagination">
                @{
                    var dictionaryQs = new Dictionary<string, string>();
                    foreach (string key in Context.Request.Query.Keys)
                    {
                        dictionaryQs.Add(key, Context.Request.Query[key]);
                    }

                    foreach (int pageNum in pagination.GetPages(Model))
                    {
                        dictionaryQs["page"] = pageNum.ToString();
                        if (pageNum == Model.Criteria.Page)
                        {

                        <li class="active">
                         <a asp-controller="Search" asp-action="Search" asp-all-route-data="@dictionaryQs">@pageNum</a>
                        </li>
                        }
                        else
                        {
                        <li>
                            <a asp-controller="Search" asp-action="Search" asp-all-route-data="@dictionaryQs">@pageNum</a>
                        </li>
                            }
                        }
                    }
            </ul>
        </div>
    </div>
</div>

<div class="quick-scroll hidden-xs">
    <div class="fa fa-chevron-down btn-back-to-top-arrow"></div>
</div>

<div class="quick-scroll-mobile visible-xs">
    <div class="fa fa-chevron-down btn-back-to-top-arrow"></div>
</div>